*{
    padding: 0;
    margin: 0;
}

.logo{
    width: 100px;
    height: 100px;
}

.logo img,
.part_app_img img{
    object-fit: contain;
    height: 100%;
}

.top_bar{
    /* background-color: #0928b2; */
    background-image: url(../images/bg2.jpg);
    background-position: top;
    height: 100vh;
}

.main {
    padding: 0px 60px !important;
}


.top_bar header,.main {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}







.top_bar header nav ul li{
    display: inline-block;
    padding: 25px;
    margin-top: .8rem;
    color:white;
    font-size: 1.3rem;
}

li.telecharger {
    background-color: white;
    color: black !important;
    border-radius: 15px;
    padding: 15px !important;
    text-align: center;
    font-size: 1.1rem!important;
    font-weight: bold;
    cursor: pointer;
}


li.acc{
    color:black!important;
}

.part_app_img{
    width: 100%;
    height: 450px;
    text-align: center;
    padding-left: 20%;
}

.part_btns{
    text-align: center;
    margin-bottom: 20px;
}

.part_btns button{
    padding: 15px;
    width: 150px;
    border-radius: 8px;
    border:none;
    margin: 0 10px;
}

button.download{
    margin-left:100px!important;
    box-shadow: 0px 15px 30px rgb(212 50 151 / 27%);
    display: inline-block;
    border: none;
    outline: none;
    background: #6541c1;
    background: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6541c1', endColorstr='#d43396', GradientType=1); */
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    padding: 15px 29px;
    position: relative;
}

button.info{
    background: white;
    border: 2px solid;
    border-image-slice:2;
    border-image-source: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
}

.part_download{
    margin-top:65px;
}

.part_download h1{
        color: white;
        font-size: 42px;
        line-height: 60px;
        font-weight: 600;
        margin-bottom: 11px
}

.part_download p {
        margin: 0;
        color: black;
        font-size: 20px;
        line-height: 30px;
}

@media screen and (max-width:858px) {
    .top_bar header nav ul li {
        display: block;
        padding: 15px;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 5px!important;
    }

    li.telecharger {
        padding: 10px !important;
        text-align: center;
        font-size: 1rem !important;
        width: 150px;
        margin: auto;
    }
    .c_58_970,
    .c_30_52,
    .c_10_30,
    .c_866,
    li.acc {
        color:white!important;
    }

    .top_bar header{
        width: 100%;
        padding: 10px 0px!important;
    }

    .main {
        flex-direction: column-reverse;
        margin: 0!important;
        padding: 0!important;
    }

    .part_download{
        text-align: center;
        font-size: 1rem;
        padding: 15px;
    }

    .part_app_img{
        padding: 0;
    }
    .d_res{
        color:black
    }

    .part_btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .part_btns button {
        margin-left: 0 !important;
        margin-bottom: 15px;
        width: 250px;
    }

    .part_download h1 {
        font-size: 2.4rem !important;
    }

}

@media screen and (max-width:340px) {
    .main {
        width: 100%;
    }
    .part_download h1 {
        font-size: 2rem!important;
        line-height: 40px!important;
    }
    .part_download p {
        font-size: 1rem !important;
    }
}

@media screen and (max-width:979px) and (min-width:858px) {
    .c_58_970{
        color:black!important;
    }
}

@media screen and (max-width:956px) and (min-width:858px) {
    .c_30_52 {
        color: black !important;
    }
}

@media screen and (max-width:937px) and (min-width:858px) {
    .c_10_30 {
        color: black !important;
    }
}

@media screen and (max-width:909px) and (min-width:858px) {
    .c_872_894 {
        color: black !important;
    }
}

@media screen and (max-width:866px) and (min-width:858px) {
    .c_866 {
        color: black !important;
    }
}

