/* General */

@font-face {
    font-family: 'century_gothic';
    src: url('../fonts/century-gothic/gothic-webfont.eot');
    src: url('../fonts/century-gothic/gothic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/century-gothic/gothic-webfont.woff') format('woff'), url('../fonts/century-gothic/gothic-webfont.ttf') format('truetype'), url('../fonts/century-gothic/gothic-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'century_gothic';
    font-size: 16px;
    font-weight: 400;
    background: #ffffff;
    color: #333;
}


.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

button {
    font-family: 'century_gothic';
    font-weight: bold;
}

input {
    outline: none;
}

.logo {
    width: 100px;
    height: 100px;
}

img {
    object-fit: contain;
    height: 100%;
}

.top_bar {
    /* background-color: #0928b2; */
    background-image: url(../images/bg1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex !important;
    justify-content: space-between !important;
    padding: 30px 60px;
}

.top_bar header,
.d_flex {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    align-items: center;
}

.d_flex {
    align-items: center;
    justify-content: space-between;
}

.d_flex .text {
    font-size: 30px;
}

.preview {
    display: flex;
    height: 500px;
}

.ml {
    margin-left: 10%;
}

.mr {
    margin-right: 10%;
}

.top_bar header nav ul li {
    display: inline-block;
    padding: 20px;
    margin-top: .8rem;
    color: white;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}

.top_bar li.telecharger {
    background-color: white;
    color: black !important;
    border-radius: 15px;
    padding: 15px !important;
    text-align: center;
    font-size: 1.1rem!important;
    font-weight: bold;
    cursor: pointer;
}

/* .top_bar ul li:hover {
    border-bottom: 5px solid#8bc140 ;
    background-color: #8bc14059;
} */

li.telecharger a {
    color: #333 !important;
}

.top_bar li.telecharger:hover {
    border: none !important;
}

li.acc a{
    color: black!important;
    font-weight: bold;
}

.top_bar ul li a {
    color: #fff;
}


.part_app_img {
    height: 450px;
    text-align: center;
    padding-left: 7%;
}

.part_btns {
    text-align: center;
    margin-bottom: 20px;
}

.part_btns button {
    outline: none;
    padding: 15px;
    width: 150px;
    border-radius: 8px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

button.download {
    margin-left: -34px!important;
    box-shadow: 0px 15px 30px rgb(212 50 151 / 27%);
    display: inline-block;
    border: none;
    outline: none;
    background: #f6ab3f;
    background: linear-gradient(to right, #f6ab3f 0%, #8bc140 98%, #8bc140 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6ab3f', endColorstr='#8bc140', GradientType=1); */
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    padding: 15px 29px;
    position: relative;
}

button.download a {
    color: #fff !important;
}

button.info {
    background: white;
    border: 2px solid;
    border-image-slice: 2;
    border-image-source: linear-gradient(to right, #f6ab3f 0%, #8bc140 98%, #8bc140 100%);
}

button.info a {
    color: #333;
}



.how {
    text-align: center;
    margin-bottom: 10px;
}

.part_download {
    margin-top: 65px;
}

.part_download h1 {
    color: white;
    font-size: 42px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 11px
}

.part_download p {
    margin: 0;
    color: black;
    font-size: 20px;
    line-height: 30px;
}

.part_app_img img {
    width: 100%;
}

@media screen and (min-width:1220px){
    .part_app_img{
        margin-bottom: 25px;
    }
}

@media screen and (max-width:858px) {
    .top_bar header nav ul li {
        display: block;
        padding: 15px;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 5px!important;
    }
    li.telecharger {
        padding: 10px !important;
        text-align: center;
        font-size: 1rem !important;
        width: 150px;
        margin: auto;
    }
    .c_58_970,
    .c_30_52,
    .c_10_30,
    .c_866,
    li.acc {
        color: black!important;
    }
    ul li:hover {
        border-bottom: 1px solid #000 !important;
    }
    .top_bar header {
        padding: 10px 45px !important;
    }
    .main {
        flex-direction: column-reverse;
        margin: 0!important;
        padding: 0!important;
    }
    .part_download {
        text-align: center;
        font-size: 1rem;
        padding: 15px;
    }
    .part_app_img {
        padding: 0;
    }
    
    .d_res {
        color: black
    }
    .part_btns {
        display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    }
    .part_btns button {
        margin-left: 0 !important;
        margin-bottom: 15px;
        width: 250px;
    }
    .part_btns button.info a {
        color: #333 !important;
    }
    .part_download h1 {
        font-size: 2.4rem !important;
    }
    .d_flex {
        flex-direction: column;
        justify-content: center;
    }
    .d_flex .text {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .mr {
        order: 2;
        margin: 0!important;
    }
    .ml {
        order: 1;
        margin: 0 !important;
    }
}

@media screen and (max-width:340px) {
    .main {
        width: 100%;
    }
    .part_download h1 {
        font-size: 2rem!important;
        line-height: 40px!important;
    }
    .part_download p {
        font-size: 1rem !important;
    }
}

@media screen and (max-width:979px) and (min-width:858px) {
    .c_58_970 {
        color: black!important;
    }
}

@media screen and (max-width:956px) and (min-width:858px) {
    .c_30_52 {
        color: black !important;
    }
}

@media screen and (max-width:937px) and (min-width:858px) {
    .c_10_30 {
        color: black !important;
    }
}

@media screen and (max-width:909px) and (min-width:858px) {
    .c_872_894 {
        color: black !important;
    }
}

@media screen and (max-width:866px) and (min-width:858px) {
    .c_866 {
        color: black !important;
    }
}


/* Generator Code Part */

#code__generator {}

#code__generator .code__generator--content h1 {
    font-size: 35px;
}

#code__generator .code__generator--content .separator {
    background: linear-gradient(to right, #f6ab3f 0%, #8bc140 98%, #8bc140 100%);
    height: 2px;
    width: 200px;
}

#code__generator .code__generator--content p {
    font-size: 20px;
    margin-top: 20px;
}

#code__generator form {
    margin-top: 35px;
}

#code__generator form label {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

#code__generator form input {
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 5px;
    border-image-slice: 2;
    border-image-source: linear-gradient(to right, #f6ab3f 0%, #8bc140 98%, #8bc140 100%);
}

.inputbox input {
    border-image-source: linear-gradient(to right, #f6ab3f 0%, #8bc140 98%, #8bc140 100%) !important;
}

#code__generator form input[type="submit"] {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background: #f6ab3f;
    background: linear-gradient(to right, #f6ab3f 0%, #8bc140 98%, #8bc140 100%);
}

#code__generator form .form--row {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

nav {
    transition: all .3s ease-in-out;
}
.shownav {
    display: block !important;
    transition: all .3s ease-in-out;
    right: 0 !important;
}
.menu__mobile {
    display: none;
}

.menu__mobile--title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    text-transform: uppercase;
}

.hemburger .item{
    background-color: #000;
    height: 3px;
    width: 30px;
    margin-top: 5px;
}

/* Fonctinality Part */

.main__fonctionality {
    padding: 0 60px;
}

.main__fonctionality h1{
    text-align: center;
    margin: 40px 0;
    font-size: 35px;
}

.fonctionality__card--row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.next__fonction {
    width: 50%;
    margin: 0 auto;
    margin-top: 35px;
}

.fonctionality__card--items {
    flex: 1;
    margin: 0 10px;
}
.circle__card {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle1 {
    background-color: #f6ab3f;
}.circle2 {
    background-color: #8bc140;
}.circle3 {
    background-color: #c1b840;
}.circle4 {
    background-color: #c14040;
}
.main__fonctionality .circle {
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    text-align: center;
}


.fonctionality__card--row .fonctionality__card--items img {
    margin-top: 15px;
    height: 650px;
    width: 100%;
    object-fit: contain;
}

.circle__card span {
    margin-left: 10px;
}
